*{
    margin:0;
    padding: 0;
}

nav{
    background-color: rgb(2, 2, 54);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color:white;
    font-size: 1.8rem;
    padding: 20px 10px;
}
a:hover{
    transition: 100ms;
    transform: scale(2);
}
@media screen and (max-width:620px){
    nav,ul{
        flex-direction: column;
        align-items: center;
    }
}
.images,.apple{
    width: 75vw;
    margin:20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}
.apple img{
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    100%{
        transform: rotate(1turn);
    }
    
}
.images img{
    width: 300px;
    height: 200px;
    padding: 5px;
    border: 5px solid darkgray;
    display: block;
    animation: swing ease-in-out 1s infinite alternate;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg);}
    
}

.products{
    font-family: Arial, Helvetica, sans-serif;
    width: 75vw;
    margin:30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
figure{
    width: 300px;
    border:1px solid #ccc;
    margin:20px;
    text-align: center;
    box-shadow: 0px 0px 3px rgb(104,104,104);
    transition: 100ms;
}
figure:hover{
    transform: scale(1.02);
    cursor: pointer;
}
figure img{
    width:200px;
    height: auto;
}
figcaption button{
    padding: 10px 20px;
    margin:10px;
    font-size: 16px;
    border:1px solid #ccc;
    border-radius: 5px;
    background:none;
}
figcaption button:hover{
    background: lightslategray;
    color:white;
    cursor: pointer;
}

figcaption p{
    font-size: 15px;;
}
figcaption p ul{
    list-style: none;
    list-style-position:inside;
}